.pageContainer {
  display: flex;

  .imageContainer {
    height: calc(100vh - 4rem);
    width: 70%;
    // border: 3px solid blue;
    // transform: scale(1.3);
  }

  .textContainer {
    display: flex;
    background-color: rgb(244, 244, 242);
    height: calc(100vh - 4rem);
    width: 30%;
    // border: 3px solid green;
    padding: 0 2rem;

    .child {
      align-self: flex-end;
      padding-bottom: 4rem;

      h1 {
        font-weight: 300;
        font-size: 50px;
      }

      p {
        font-weight: 300;
        font-size: 15px;
      }

      .button {
        display: flex;
        justify-content: center; /* Align horizontal */
        align-items: center; /* Align vertical */
        height: 2.5rem;
        border-radius: 15px;
        background: rgb(13, 48, 104);
        margin: auto;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
      }

      .button:hover {
        background: rgb(25, 86, 186);
      }
    }
  }
}
