.heroContainer {
  position: relative;
  padding-bottom: 0px;
  margin: 0;

  .hero {
    width: 100%;
    height: 100vh;
    background: url("/product4.png");
    /* filter: brightness(0.9); */

    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .heroTitle {
    width: 50%;
    position: absolute;
    top: 31%;
    left: 36%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 700;

    img {
      height: 80px;
    }
  }

  .child {
    width: 30%;
    position: absolute;
    top: 51%;
    left: 30%;
    transform: translate(-50%, -50%);
    // font-size: 4rem;
    // font-weight: 700;
  }

  .button {
    width: 30%;
    position: absolute;
    top: 61%;
    left: 30%;
    transform: translate(-50%, -50%);
    // font-size: 4rem;
    font-weight: 700;

    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    height: 2.5rem;
    border-radius: 15px;
    // background: rgb(13, 48, 104);
    background: rgb(193, 43, 34);
    margin: auto;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }

  .button:hover {
    background: rgb(219, 136, 128);
  }
}
